@model BookEventApplicationMVCAssignment.Models.MyIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Event Application</h1>

</div>



<div class="row">

    <div class="col-md-6">
        <ul>
            <li>
                <h2>FutureEvents</h2>
            </li>

            @foreach (var item in Model.FutureEvents)
            {


                <li>
                    @Html.ActionLink(item.NameOfTheEvent, "Details", new { id = item.EventId })

                </li>





            }

        </ul>

    </div>
    <div class="col-md-6">
        <ul>
            <li>
                <h2>PastEvents</h2>
            </li>

            @foreach (var item in Model.PastEvents)
            {

                <li>
                    @Html.ActionLink(item.NameOfTheEvent, "Details", new { id = item.EventId })
                </li>




            }

        </ul>

    </div>




</div>



