@model BusinessObjects.UserBO

@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>
<h2>Hey you are loggedout</h2>
<ul>
    <li>@Html.ActionLink("Click on home", "Index")</li>
    <li>@Html.ActionLink("Click on login", "Login")</li>
</ul>


